nav.w3-bar.w3-black

    a.w3-bar-item.w3-button(href='/') Home

    a.w3-bar-item.w3-button(href='/usuario/login') Login

    a.w3-bar-item.w3-button(href='/empresa/dashboard') Empresa

    a.w3-bar-item.w3-button(href='/admin/dashboard') ADM