extends ../layouts/main

block content

    .login-box

        h1 Login

        input.w3-input(type='email' placeholder='Digite seu email')

        br

        input.w3-input(type='password' placeholder='Digite sua senha')

        br

        button.w3-button.w3-blue Entrar